html,
body {
  height: 100%;
}

body {
  background: #082330;
  background-size: 0.12em 100%;
  font: 16em/1 Arial;
}

.text--line {
  font-size: 0.5em;
}

svg {
  position: absolute;
  width: 100vw;
  height: 80vh;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  animation: stroke-offset 1s linear;
}
.text-copy:nth-child(1) {
  stroke: #360745;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #d61c59;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #e7d84b;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #efeac5;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #1b8798;
  stroke-dashoffset: 35%;
}

@keyframes stroke-offset {
  0% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
  100% {
    stroke-dasharray: 7% 28%;
  }
}

#start-container {
  position: relative;
  height: 80%;
}

button {
  transform: scale(0);
  opacity: 0;
  animation: startButton 1.2s ease-in both;
  animation-delay: 1s;
  position: absolute;
  left: 47%;
  bottom: 0;
  font-size: 40px;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(to right, #1b8798 0%, #360745 100%);
  color: whitesmoke;
  border: none;
}

@keyframes startButton {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.hide {
  display: none;
}

.hidden {
  display: none;
}

.intro {
  position: relative;
}

img {
  width: 300px;
  position: relative;
  filter: grayscale(100%);
}

.spotlight-enter-active {
  animation: 2s spotlight reverse;
}
.spotlight-leave-active {
  animation: 2s spotlight;
}

@keyframes spotlight {
  0% {
    clip-path: circle(100% at 50% 50%);
  }
  25% {
    clip-path: circle(20% at 50% 50%);
  }
  50% {
    clip-path: circle(20% at 12% 84%);
  }
  75% {
    clip-path: circle(20% at 93% 51%);
  }
  100% {
    clip-path: circle(20% at -30% 20%);
  }
}

.natalie-name {
  font-size: 0.1em;

  position: absolute;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #360745, #1b8798, #360745);
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.animation-start {
  animation: animate 3s linear;
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
